@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?2daftk') format('truetype'),
    url('fonts/icomoon.woff?2daftk') format('woff'),
    url('fonts/icomoon.svg?2daftk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-fax:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e900";
}
.icon-phone1:before {
  content: "\e905";
}
.icon-cellular-phone:before {
  content: "\e905";
}
.icon-mobile:before {
  content: "\e905";
}
.icon-document-file-png:before {
  content: "\e901";
}
.icon-document-file-pdf:before {
  content: "\e902";
}
.icon-document-file-jpg:before {
  content: "\e903";
}
.icon-document-file-bmp:before {
  content: "\e904";
}
.icon-document-file-gif:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e9c7";
}
.icon-upload:before {
  content: "\e9c8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-home:before {
  content: "\e907";
}
.icon-pencil:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e910";
}
.icon-user-plus:before {
  content: "\e974";
}
.icon-user-minus:before {
  content: "\e977";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-bin:before {
  content: "\e9ad";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-heart:before {
  content: "\e9db";
}
.icon-man:before {
  content: "\e9de";
}
.icon-woman:before {
  content: "\e9df";
}
.icon-error:before {
  content: "\ea08";
}
.icon-warning:before {
  content: "\ea09";
}
.icon-question:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea11";
}
.icon-checkmark:before {
  content: "\ea12";
}
.icon-images:before {
  content: "\e90e";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-printer:before {
  content: "\e954";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-spinner:before {
  content: "\e984";
}
.icon-cog:before {
  content: "\e994";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-arrow-up:before {
  content: "\ea3a";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-new-tab:before {
  content: "\ea7e";
}
